<div class="container">
    <div class="card mt-3">
        <h3 class="text-center mx-3">Add New Reservation</h3>
        <form class="form-control" name="newReservationForm">
            <div class="row">
                <div class="col-md-6">
                    <label for="GuestName">Name</label>
                    <input class="mx-3"  name="GuestName" type="text" placeholder="Enter Name">
                </div>
                <div class="col-md-6">
                    <label for="GuestEmail">Email</label>
                    <input class="mx-3" name="GuestEmail" type="text" placeholder="Enter Email ID">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <label for="ReservationFromDate">From </label>
                    <input class="mx-3"  name="ReservationFromDate" type="date" >
                </div>
                <div class="col-md-6">
                    <label for="ReservationToDate">To      </label>
                    <input class="mx-3" name="ReservationToDate" type="date" >
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <label for="RoomNumber">Room Number</label>
                    <input class="mx-3"  name="RoomNumber" type="number" >
                </div>
                <div class="col-md-6">
                    <label for="IsReservationConfirmed">Is Reservation Confirmed</label>
                    <input class="mx-3" name="IsReservationConfirmed" type="checkbox">
                </div>
            </div>

          

            <div class="row mt-3">
                <div class="col-md-12 text-center">
                 <button class="btn btn-success text-center" type="button"> Add New </button>
                </div>                
            </div>
        </form>        
    </div>
</div>>


