<div class="container">
    <button type="button" class="btn btn-success mt-5 text-center" [routerLink]="['/new']" >Add New</button>
    <div class="card">
        <div *ngIf="reservations.length; else noRecord">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Checkin Date</th>
                        <th>Checkout Date</th>
                        <th>Room Number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let res of reservations; index as i">
                    <td>{{res.guestName}}</td>
                    <td>{{res.guestEmail}}</td>
                    <td>{{res.checkInDate | date:"MM-dd-yy"}}</td>
                    <td>{{res.checkOutDate | date:"MM-dd-yy"}}</td>
                    <td>{{res.roomNumber}}</td>
                    <td>
                        <button class="btn btn-primary" type="button">Details</button>
                        <button class="ml-3 btn btn-secondary" type="button">Delete</button>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
        

        <ng-template #noRecord>
        <p>No Records found as for now</p>
        </ng-template>

    </div>
</div>


